<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Alunos</title>
</head>
<body>

<h1>Lista de Alunos</h1>

<a href="/novo">Novo Aluno</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Curso</th>
    </tr>

    <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.id}"></td>
        <td th:text="${aluno.nome}"></td>
        <td th:text="${aluno.email}"></td>
        <td th:text="${aluno.curso}"></td>
    </tr>

</table>

</body>
</html>